h1{
    background: #4aaaa5;
    color: #ffffff;
    border-color: #cccccc;
    position: relative;
    float: left;
    Width: 280px;
    Height: 60px;
    font-size: 32px;
    font-family: Georgia;
    text-align: center;
    padding: 20px;
}

#technics{
    position: absolute;
    clear: right;
    margin-left: 20px;
    margin-top: 0;
    padding: 15px;
    border: 1px solid #cccccc;
}

.buttons{
    background: #ffffff;
    color: #777777;
    font-size: 14px;
    
}

h2{
    clear: both;
    padding: 10px;
    color: #4aaaa5;
    font-size: 24px;
    font-weight: bold;
}

.container{
    position: fixed;
    padding: 20px;
    float: right;
    background: #ffffff;
    width: 550px;
    top: 150px;
    height: 305px;
    border: 1px solid #777777;
}

.sidebar{
    position: fixed;
    float: right;
    right: 25px;
    top: 150px;
    background: #ffffff;
    border: 1px solid #777777;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    color: #4aaaa5;
    width: 175px;
    height: 175px;
}

#about{
    float: right;
    width: 5%;
    padding: 25px;
}

#portfolio{
    float: right;
    width: 5%;
    padding: 25px;
}

#contact{
    float: right;
    width: 5%;
    padding: 25px;
}

body{
    font-family: Arial;
    background: #cccccc;
    border-color: #dddddd;
}

#bottom{
    position: fixed;
    background: #4aaaa5;
    height: 10px;
    width: 100%;
    bottom: 45px
}

#footer{
    position: fixed;
    clear: both; 
    background: #666666;
    bottom: 0;
    height: 15px;
    width: 100%;
    padding: 20px;
}


